name: flutter_https
description: "A powerful and easy-to-use HTTP client for Dart and Flutter with advanced features like interceptors, retry handling, logging, file downloading, and temporary file management."
version: 0.0.1
homepage: https://github.com/itsaqibdev/flutter_https
repository: https://github.com/itsaqibdev/flutter_https
issue_tracker: https://github.com/itsaqibdev/flutter_https/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter: